/* login */
body {
  width: 100%;
  background-repeat: no-repeat;
}

.logo-container {
  padding-left: 70px;
  padding-top: 23px;
}

.logo-text {
  padding-top: 97px;
  padding-right: 28px;
}
.logo-text-name {
  font-size: 35px;
}

.font-logo {
  font-size: 45px;
}

.container-login {
  padding-top: 100px;
  padding-left: 71px;
}

.login {
  padding-top: 80px;
  width: 500px;
}

.btn-container {
  padding-top: 25px;
}
.btn-login {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 40px;
  border-radius: 20px;
  width: 100%;
  background-color: #2494ea;
  color: white;
}

.container-form-login {
  padding-top: 43px;
}

.input-login {
  padding: 15px 10px;
}

.text-link-register {
  font-size: 20px;
  padding-top: 15px;
}

.img-section {
  opacity: 60%;
}

/* ukuran layar 1499 keatas */
@media only screen and (min-width: 1499px) {
  .img-section {
    padding-right: 140px;
  }
  .img-login {
    width: 620px;
  }
  .logo-text {
    padding-right: 250px;
  }
  .logo-text-name {
    font-size: 44px;
  }
}
/* end login */

/* register */
.register-text {
  font-size: 45px;
  font-weight: semibold;
  width: 510px;
  padding-bottom: 17px;
}
.container-register-form {
  padding-top: 120px;
  padding-left: 71px;
}

.input-register {
  padding: 15px 10px;
}

.btn-register {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 40px;
  border-color: white;
  border-radius: 20px;
  width: 100%;
  background-color: #2494ea;
  color: white;
}

/* ukuran layar 1499 keatas */
@media only screen and (min-width: 1499px) {
  .container-image {
    padding-right: 140px;
  }
  .img-register {
    width: 620px;
  }
}
/* end register */

/* sidebar */
:root {
  --body-bg-color: #dce4e3;
  --green: #18c29c;
  --light-green: #8ed7c6;
  --light-grey: #dce4e3;
  --text-color: #084236;
  --blue: #2d3e54;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--body-bg-color);
}

.container-sidebar {
  display: flex;
  justify-content: right;
  height: 100vh;
  width: auto;
  gap: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100vh;
  background-color: var(--blue);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s;
}

.main {
  width: calc(100% - 120px);
  height: 100vh;
  /* padding-top: 20px;
  padding-left: 40px; */
  color: var(--text-color);
  transition: all 0.2s;
}
.icon-hamburger {
  width: 60px;
  height: 60px;
  background-color: #f1f1f1;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1rem;
  gap: 15px;
  transition: all 0.2s;
}

.icon {
  width: 60px;
  height: 60px;
  color: white;
  background-color: var(--blue);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1rem;
  padding: 15px;
  gap: 15px;
  transition: all 0.2s;
}

.icon:hover {
  cursor: pointer;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 10px;
  transition: all 0.2s;
}

.icon-logout {
  width: 100%;
  height: 60px;
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.icon-logout:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}

.main h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.logout-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-green);
  align-items: center;
  font-size: 0.9rem;
  gap: 10px;
}

.logout-container #logout-photo {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}

#user-container {
  display: flex;
  flex-direction: column;
  gap: -5px;
}

#user-name {
  font-size: 0.9rem;
  font-weight: 500;
}

#user-role {
  font-size: 0.7rem;
  font-weight: 400;
}
/* end sidebar */

/* dashboard */
.card-sizing {
  width: 360px;
  border-color: black;
  border-radius: 10px;
}

.container-ham {
  width: 50px;
  height: 50px;
  align-items: center;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
}

.menu-container {
  background-color: #f1f1f1;
}

.container-dropdown {
  cursor: pointer;
}

/* end dashboard */
.value-dashboard {
  font-size: 50px;
  padding-top: 20px;
}
.pegawai-dashboard {
  font-size: 32px;
  font-weight: 500;
}
.keterangan-dashboard {
  font-size: 14px;
}

.table-container {
  width: 1250px;
}

.table-header {
  background-color: #a1c6f2;
  border-radius: 10;
}
.th {
  border-radius: 10px 10px 0 0;
  font-size: 30px;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

/* user_pegawai */
.header-user {
  font-size: 36px;
  text-align: center;
}

.table-pegawai {
  width: 1200px;
}

.table-row {
  font-size: 24px;
}
